<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>

    <!-- > BOOTSTRAP CSS via WebJars -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- > FONTAWESOME via WebJars -->
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
</head>

<body>

    <header th:fragment="header(currentPage)">
        <div class="d-flex flex-row row-cols-2 bg-dark bg-gradient">
            <div class="py-3 col-2 d-flex">
                <h1 class="m-0 p-0 ps-5 align-self-center">Best of</h1>
            </div>

            <div class="py-3 col-8 d-flex">
                <a th:class="${currentPage == 'movies' ? 'btn btn-primary' : 'btn btn-outline-primary'} + ' m-3 px-5 py-2 d-flex'" th:href="@{/movies}">
                    <h3 class="m-0 p-0 align-self-center fw-bold">Movies</h3>
                </a>

                <a th:class="${currentPage == 'songs' ? 'btn btn-success' : 'btn btn-outline-success'} + ' m-3 px-5 py-2 d-flex'" th:href="@{/songs}">
                    <h3 class="m-0 p-0 align-self-center fw-bold">Songs</h3>
                </a>

            </div>

            <div class="col-2 d-flex">
                <a th:class="${currentPage == 'home' ? 'd-none' : 'm-4 px-4 py-1 d-flex btn btn-light d-flex'}" th:href="@{/}">
                    <i class="fa-solid fa-house-user text-dark fs-2 m-0 p-0 pe-2 align-self-center"></i>
                    <h4 class="m-0 p-0 align-self-center">Home Page</h4>
                </a>
            </div>
        </div>
    </header>


    <div th:fragment="chart(mediaType)" class="container text-center">
        <a class="text-decoration-none text-reset" th:each="media : ${mediaType}" th:href="@{${currentPage=='movies' ? '/movies/' + media.getId() : '/songs/' + media.getId()}}">
            <div class="d-flex row-cols-2" th:style="${currentPage == 'movies' ? 'margin: 0 30% 0 22%;' : 'margin: 0 20% 0 8%;'} + ' font-size: 36px;'">
                <div class=" border-bottom border-3 border-light col-2 py-3" th:text="${media.getId()}"></div>
                <div th:class="${currentPage == 'movies' ? 'bg-primary' : 'bg-success'} + ' col-10 py-3 pe-1 border border-3 border-dark'" th:text="${currentPage == 'movies' ? media.getTitle() : media.getTitle() + ' - ' + media.getArtist()}"></div>
            </div>
        </a>
    </div>

    <!-- > BOOTSTRAP JS via WebJars -->
    <script th:fragment="popper" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>