<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/layout :: head('Home Page')}" />

<body class="bg-dark text-light">

    <th:block th:replace="~{fragments/layout :: header('home')}" />

    <div class="container text-center mb-2">
        <h1 th:text="|Best Of The Year By ${username}|" class="my-5" />

        <div class="">
            <a th:href="@{/movies}">
                <img th:src="@{/public/imgs/movies.jpg}" alt="At the Movies" height="250px">
            </a>


            <h4 class="my-4">Your personally picked choice of the best <span class="text-primary fw-bold">movies</span> and <span class="text-success fw-bold">songs</span> around the globe</h4>

            <a th:href="@{/songs}">
                <img th:src="@{/public/imgs/songs.jpg}" alt="Vinyl Records" height="250px">
            </a>


        </div>
    </div>

    <th:block th:replace="~{fragments/layout :: popper}" />
</body>

</html>